<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Post">

<!-- 수진 -->
	<insert id="insertPost">
		insert into post values(post_seq.nextval, #{p_writer_id}, #{sysprofname}, #{b_isbn}, #{b_img_url}, #{b_title}, #{b_writer}, #{b_genre}, #{b_publisher}, #{b_publication_date}, #{dyst_read}, #{dyfn_read}, #{p_writer_nn}, sysdate, #{p_title}, #{p_content}, 0, 0, 0)
		<selectKey order="AFTER" keyProperty="p_seq" resultType="int">
			select post_seq.currval from dual
		</selectKey>
	</insert>
		
	<update id="updatePost">
		update post set b_isbn = #{b_isbn}, b_img_url = #{b_img_url}, b_title = #{b_title}, b_writer = #{b_writer}, b_genre = #{b_genre}, b_publisher = #{b_publisher}, b_publication_date = #{b_publication_date}, dyst_read = #{dyst_read}, dyfn_read = #{dyfn_read}, p_write_date = sysdate, p_title = #{p_title}, p_content = #{p_content} where p_seq = #{p_seq} and p_writer_id = #{p_writer_id}
	</update>
	
	<select id="selectPostCountById" resultType="int">
		select count(*) from post where p_writer_id = #{id}
	</select>
	
	<select id="selectPostListRev" resultType="kh.bookday.dto.PostDTO">
		select * from post where p_writer_id = #{id} order by p_seq desc
	</select>
	
	<select id="select20PostListById" resultType="kh.bookday.dto.PostDTO">
		<![CDATA[
          select *
          from (select post.*, row_number() over (order by p_seq) rn from post  where p_writer_id = #{id} order by p_seq)
          where rn < 21
         ]]>
         
	</select>
	
	<select id="selectNextPostListById" resultType="kh.bookday.dto.PostDTO">
		<![CDATA[
          select *
          from (select post.*, row_number() over (order by p_seq) rn from post where p_writer_id = #{id} order by p_seq)
          where rn between #{min} and #{max}
      ]]>
	</select>
	
	<update id="addViewCount">
		update post set p_view_count = p_view_count+1 where p_seq = #{p_seq}
	</update>
	
	<select id="selectPostByPseq" resultType="kh.bookday.dto.PostDTO">
		select * from post where p_seq = #{p_seq}
	</select>
	
	<update id="updatePCCUp">
		update post set p_comment_count = p_comment_count +1 where p_seq = #{p_seq}
	</update>
	
	<update id="updatePCCDown">
		update post set p_comment_count = p_comment_count -1 where p_seq = #{p_seq}
	</update>
	
	<update id="updatePLCUp">
		update post set p_like_count = p_like_count + 1 where p_seq = #{p_seq}
	</update>
	
	<update id="updatePLCDown">
		update post set p_like_count = p_like_count -1 where p_seq = #{p_seq}
	</update>
	
	<select id="selectSearchPostList" resultType="kh.bookday.dto.PostDTO">
		select * from post where (p_writer_id = #{id}) and (b_title like '%'||#{searchWord}||'%' or b_writer like '%'||#{searchWord}||'%' or p_title like '%'||#{searchWord}||'%' or p_content like '%'||#{searchWord}||'%') order by p_seq desc
	</select>
	
	<delete id="deletePostByPseq">
		delete from post where p_seq = #{p_seq}
	</delete>
	
	<select id="selectFvrBookById" resultType="HashMap">
		select b_img_url, b_isbn
		from post 
		where p_writer_id = #{id} 
		group by b_img_url, b_isbn 
		having count(*) = (select max(c) 
		from (select b_isbn, count(b_isbn) as c 
		from post where p_writer_id = #{id} 
		group by b_isbn 
		having count(b_isbn)>1))
	</select>
	
	<select id="selectFvrWriterById" resultType="HashMap">
		select b_writer 
		from post 
		where p_writer_id = #{id} 
		group by b_writer 
		having count(*) = (select max(c) 
		from (select b_writer, count(b_writer) as c 
		from post 
		where p_writer_id = #{id} 
		group by b_writer
		having count(b_writer)>1))
		order by b_writer
	</select>
		
	<select id="selectFvrGenreById" resultType="HashMap">
		select b_genre 
		from post 
		where p_writer_id = #{id} 
		group by b_genre 
		having count(*) = (select max(c) 
		from (select b_genre, count(b_genre) as c 
		from post 
		where p_writer_id = #{id} 
		group by b_genre
		having count(b_genre)>1))
		order by b_genre
	</select>
	
	   <select id="selectPostListById" resultType="kh.bookday.dto.PostDTO">
      select * from post where p_writer_id = #{id}
   </select>
<!-- 수진 -->

<!-- 지민 -->

	<!-- 검색 시 포스트 출력 -->
	<select id="selectPostListBySw" resultType="kh.bookday.dto.PostDTO">
		select * from post where b_title like '%'||#{searchWord}||'%' or b_writer like '%'||#{searchWord}||'%' or b_genre like '%'||#{searchWord}||'%'		
	</select>
	
<!-- 지민 -->
	
	<!-- 인기 포스트 출력 -->
	<select id="selectPopularPost" resultType="kh.bookday.dto.PostDTO">
		select * from post where  <![CDATA[rownum <= 6]]> order by P_LIKE_COUNT desc
	</select>
	
	<select id="selectPostByIsbn" resultType="kh.bookday.dto.PostDTO">
		select * from post where b_isbn=#{value} order by p_seq
	</select>
</mapper>